# UNRENDERED controls
nickname=ЗалупкаRAULO
master=1.0
music=1.4
shooting=1.0
explosions=1.0
enemies=1.0
player=1.0
mono=0
softenLoud=0

# controls — primary , secondary
bind.Forward = key:W , key:Up
bind.Back = key:S , key:Down
bind.TurnLeft = key:A , key:Left
bind.TurnRight = key:D , key:Right
bind.Jump = key:Space , none
bind.Fire = mouse:Left , key:LeftControl
bind.Secondary = mouse:Right , key:G
bind.Hyperspace = key:X , none
bind.Inventory = key:F , none
bind.Mark = mouse:Middle , key:B
bind.Scoreboard = key:Tab , none
bind.Ready = key:V , none
bind.TankLurch = key:Q , none
bind.TankSmoke = key:E , none
bind.TankSlug = key:R , none
bind.SpiderPounce = key:Q , none
bind.LeftHook = key:Q , none
bind.RightHook = key:E , none
bind.HighJump = key:Enter , key:Space
bind.Beat = key:W , key:Space
bind.Brake = key:S , none
bind.Harvest = key:Q , none
bind.Replant = key:E , none
bind.Slot1 = key:R , none
bind.Slot2 = key:T , none
bind.Slot3 = key:Y , none
bind.Slot4 = key:U , none
bind.SpectatePrev = key:Left , mouse:Left
bind.SpectateNext = key:Right , mouse:Right
bind.Interact = key:E , none
